*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
    background-color: #2fffdc;
}
.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    border: 5px solid #000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(92, 47, 255);
    display: flex;
    /* flex-direction: row-reverse;*/
    justify-content: center;
    height: 200px;
    align-items: center; 
    align-content: center;
}

.element{
    background-color: aqua;
    height: 50px; 
    width: 20%;
    color: rgba(137, 43, 226, 0.979);
    font-size: 30px;
    font-weight: 700;
    border: 2px solid #000000;
    margin: 5px;
    text-align: center;
}


#one{
    background-color: #adff2f;
    order: 3;
}

#two{
    background-color: bisque;
    order: 1;
}

#three{
    background-color: aqua;
    order: 2;
}

@media screen and (max-width:1200px) {
    body{
        background-color:  rgb(219, 38, 255);;
    }
    .element{
        border: 5px solid greenyellow;
    }
}

@media screen and (max-width:800px) {
    body{
    .element{
        border: 5px solid rgb(38, 248, 255);
    }
}